* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 25%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.heading {
    width: 85%;
    height: 10%;
    border: solid 2px white;
}

.mid {
    width: 85%;
    height: 90%;
    /* display: flex;
    align-items: center; */
    /* border: solid 2px white; */
}

.screen {
    width: 100%;
    height: 100%;
    border: solid 2px white;
}

.scores {
    width: 60px;
    height: 300px;
    border: solid white 2px;
}

.buttons {
    width: 85%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    /* border: solid 1px white; */
}

.d-button {
    width: 50px;
    height: 50px;
}

.direction {
    display: flex;
    /* width: 25%; */
}

#left {
    background-image: url("./assets/left-0.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#right {
    margin-left: 10px;
    background-image: url("./assets/right-0.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.down {
    width: 30px;
    height: 30px;
    background-image: url("./assets/down-0.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.rotate {
    width: 70px;
    height: 70px;
    background-image: url("./assets/rotate-0.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
    .main {
        width: 85%;
    }
}